alias ll='ls -laF --color'
alias la='ls -laF --color'
alias lsd='ls -lF --color'
alias l1='ls -1 --color'

alias gtp='cd ~/src' # go to projects

alias ff='find . -name '

grepfind () { grep -RIni "$1" . --include **/"$2" ; }
alias gf='grepfind'

alias clip=pbcopy

alias cls=clear

alias nts="code ~/src/personal/notes"