#!/usr/bin/env sh

# env management >>>
ENVFILE_ROOT=~/.secrets

# set environment function
# use: "senv environmentFile"
senv() {
 source $ENVFILE_ROOT/"$1"
}

topen() {
    open https://www.twilio.com/console/projects/summary#:~:text="$TWILIO_ACCOUNT_SID"
}

# tab completion for filenames
_envfile_complete() {
    local file
    for file in $ENVFILE_ROOT/"$2"*; do
        compadd $(basename "$file") # zsh
    done
}

autoload -Uz compinit
compinit
compdef _envfile_complete senv
# <<< env management