#!/usr/bin/env sh

# chpwd() {
#     ll
# }

# env management >>>
ENVFILE_ROOT=~/.secrets

# set environment function
# use: "senv environmentFile"
senv() {
 source $ENVFILE_ROOT/"$1"
}

topen() {
    open "https://console.twilio.com/user/accounts?q=$TWILIO_ACCOUNT_SID"
}

tget() {
    local url="${1}"
    url="${url//\{AccountSid\}/$TWILIO_ACCOUNT_SID}"
    curl -G "$url" -u $TWILIO_ACCOUNT_SID:$TWILIO_AUTH_TOKEN
}

# tab completion for filenames
_envfile_complete() {
    local file
    for file in $ENVFILE_ROOT/"$2"*; do
        compadd $(basename "$file") # zsh
    done
}

compdef _envfile_complete senv
# <<< env management