[user]
    name = Brian.Schmitt
    email = brianschmitt@gmail.com
[color]
    ui = auto
[core]
    editor = vim
    excludesfile = ~/.global_ignore
[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff --color --color-words --abbrev
    dc = diff --cached
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    ls = ls-files
    fo = fetch origin
    up = !git pull --rebase --prune $@ && git submodule update --init --recursive
    wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
    changes=!git log --name-status HEAD..
    up = !git pull --rebase --prune $@ && git submodule update --init --recursive
    cob = checkout -b
    bclean = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs -r git branch -d; }; f"
    bdone = "!f() { git checkout ${1-master} && git up && git bclean ${1-master}; }; f"

        # Show files ignored by git:
    ign = ls-files -o -i --exclude-standard
[push]
    default = simple
